

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

/* Hide horizontal tabs at the top of the window */
#tabbrowser-tabs {
  visibility: collapse !important;
}

#aHTMLTooltip {
  display: none !important
}

/* leaves space for the window buttons */
#nav-bar {
    margin-top: -30px;
    margin-right: 138px;
	height: 29px !important;
}

/*
:root[uidensity=compact] #urlbar,
:root[uidensity=compact] .searchbar-textbox {
  font-size: unset !important;
  min-height: 24px !important;
}
*/

:root[uidensity=compact] #identity-box {
  max-height: 22px;
}

:root[uidensity=compact] #nav-bar .toolbarbutton-1 {
  padding: 0px !important;
}

